{
#set($calendar = $date.getCalendar())
#set($calendarOneHourAhead = $date.getCalendar())
#set($calendarTwoHourAhead = $date.getCalendar())
#set($calendarThreeHourAhead = $date.getCalendar())
#set($calendarOneDayBehind = $date.getCalendar())
#set($calendarOneDayAhead = $date.getCalendar())
#set($calendarTwoDayAhead = $date.getCalendar())
#set($calendarThreeDayAhead = $date.getCalendar())
#set($calendarFourDayAhead = $date.getCalendar())
#set($formatHour = 'HH')
#set($formatFull = 'yyyy-MM-dd')
#set($zone = $calendar.getTimeZone())
#set($targetOffset = $zone.getTimeZone('PST').getRawOffset())
#set($localOffset = $zone.getRawOffset())
#set($diff = $targetOffset - $localOffset)
#set($x = $calendar.add(14, $diff))
#set($diffPlus1hour = $diff + 3600000)
#set($diffPlus2hour = $diff + 7200000)
#set($diffPlus3hour = $diff + 10800000)
#set($diffMinus1day = $diff - 86400000)
#set($diffPlus1day = $diff + 86400000)
#set($diffPlus2day = $diff + 172800000)
#set($diffPlus3day = $diff + 259200000)
#set($diffPlus4day = $diff + 345600000)
#set($x = $calendarOneHourAhead.add(14, $diffPlus1hour))
#set($x = $calendarTwoHourAhead.add(14, $diffPlus2hour))
#set($x = $calendarThreeHourAhead.add(14, $diffPlus3hour))
#set($x = $calendarOneDayBehind.add(14, $diffMinus1day))
#set($x = $calendarOneDayAhead.add(14, $diffPlus1day))
#set($x = $calendarTwoDayAhead.add(14, $diffPlus2day))
#set($x = $calendarThreeDayAhead.add(14, $diffPlus3day))
#set($x = $calendarFourDayAhead.add(14, $diffPlus4day))
#set($today = $date.format($formatFull, $calendar.getTime()) + 'T')
#set($currentHour = $date.format($formatHour, $calendar.getTime()))
#set($currentHourPlusOne = $date.format($formatHour, $calendarOneHourAhead.getTime()))
#set($currentHourPlusTwo = $date.format($formatHour, $calendarTwoHourAhead.getTime()))
#set($currentHourPlusThree = $date.format($formatHour, $calendarThreeHourAhead.getTime()))
#set($currentDayMinusOne = $date.format($formatFull, $calendarOneDayBehind.getTime()) + 'T')
#set($todayPlusOne = $date.format($formatFull, $calendarOneDayAhead.getTime()) + 'T')
#set($todayPlusTwo = $date.format($formatFull, $calendarTwoDayAhead.getTime()) + 'T')
#set($todayPlusThree = $date.format($formatFull, $calendarThreeDayAhead.getTime()) + 'T')
#set($todayPlusFour = $date.format($formatFull, $calendarFourDayAhead.getTime()) + 'T')
   "loggedInGuestId":"7B2213E5DB-48D9-454A-93E5-DB48D9754AF5;type=xid",
   "destinationId":"80008297;entityType=destination",
   "itemsForGuests":[
      "7B2213E5DB-48D9-454A-93E5-DB48D9754AF5;type=XID"
   ],
   "items":[]
}
